<header>
  <%= link_to 'Bulletin board',new_user_registration_path,class: "top_page"%>
  <ul class = 'lists' id = 'lists'>
    <li class = 'list' id = 'list'>掲示板へ</li>
    <li class = 'list' id = 'list'>つぶやきへ</li>
    <li><%= link_to '新規登録',new_user_registration_path,class: 'list'%></li>
    <% if user_signed_in?　%>
    <li class = 'list' id = 'list'>ログイン</li>
    <% else%>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li>

  </ul>
</header>