<header>
  <h1 class = 'top_page'>Bulletin board</h1>
  <ul class = 'lists'>
    <li class = 'list'>掲示板へ</li>
    <li class = 'list'>つぶやきへ</li>
    <li class = 'list'>新規登録</li>
    <li class = 'list'>ログイン</li>
  </ul>
</header>