<div class = 'anime'>
<div class = 'image' id = 'img'><%= image_tag 'cafe.jpg',class:"top_img"%></div>
  <%= link_to "Welcome",new_collect_path,class:"typed"%>
  <button><%= link_to '掲示板へ', new_collect_path,class:"aa",class:"btn btn-primary btn-lg" %></button>
</div>
