<%= render 'header'%>
<div class = 'image' id = 'img'>
  <%= image_tag 'cafe.jpg' , :width => '100%', :height => '600' %>
  
</div>
    
  
<h6>募集一覧</h6>
<ul class = 'table'>
  <li>aaaa</li>
  <li>aaa</li>
  <li>aaaa</li>
</ul>
