 .lists{
  display: flex;
  padding: 0 40px;
}
.list{
  padding: 0 30px;
  color: white;
}
.top_page{
  font-size: 20px;
  padding: 0 40px;
  color: white;
  font-family: 'Kaushan Script', cursive;
}

header{
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main h6{
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  text-align: center;
}
.table{
  text-align: center;
}