.head{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  
}

.top_page{
  color: white;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
  padding-left: 24px;
}

.lists{
  display: flex;
}

.list{
  color: white;
  padding: 0 25px;
}

.top_img{
  height: 100vh;
  width: 100%;
}


.post{
  border:1px solid;
}

.btn-primary{
  margin-top: 20px;
}